/* Style for Geoff Boss*/
body {
    font-family: 'Manrope', sans-serif !important;
}

.container {
    margin-top: 50px;
}

#tag-line{    
    text-align: center;

}

h1{
	text-align: center;
}

img{
	margin-right: auto;
	margin-left: auto;
}

.row{
	padding-top: 25px;
}

#second-row{
	padding-top: 35px;
}

.container img {
    display: block;
    margin: 0 auto; 
    position: relative;
    z-index: -2;
}